<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Spot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27FB6FA61EBBE8A700ED66B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27FB6FBC1EBBE8A800ED66B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27FB6FC71EBBE8A800ED66B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
